* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/Fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.logo{
    width: 30%;
    object-fit: cover;
}

.eventos{
    width: 100%;
}

.boton {
    width: 100%;
}

.fotos{
    object-fit: cover;
}

main {
    min-height: calc(100vh - 150px);
  }

.form-check-label {
    text-shadow: 0 0 10px #d64141, 0 0 10px #af2424, 0 0 10px #e9d1d1, 0 0 10px #ffffff;
    -webkit-text-stroke: 0.7px #000000;
  }

th, td {
    border: 1px solid black !important;
}

th {
    text-align: center !important;
}

td{
    padding-left: 6px;
    width: 100%;
}